[Unit]
Description=Run tarsnap-archive Daily

[Timer]
OnCalendar=*-*-* 01:01:00
Persistent=true
Unit=tarsnap-archive-daily.service

[Install]
WantedBy=multi-user.target
