[Unit]
Description=Tarsnap Archive Weekly

[Service]
Type=simple
ExecStart=test $(date +\%u) -eq 1 && test $(date +\%e) -ne 01 && /usr/local/bin/tarsnap-archive.sh weekly
