[Unit]
Description=Tarsnap Archive Daily

[Service]
Type=simple
ExecStart=/usr/bin/test $(date +\%u) -ne 1 && /usr/bin/test $(date +\%e) -ne 01 && /usr/local/bin/tarsnap-archive.sh daily
